* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0.5em;
  background-color: #0097A6;
  font-family: sans-serif;
}

.insert-data {
  padding: 1.5em;
  width:100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-bottom: 0.35em;
}

.form {
  width: 100%;
  padding: 1em;
  background-color: #f3f3f3;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-center {
  text-align: center;
}
.form input, .form label {
  width: 90%;
  display: block;
  padding: 0.25em;
  margin: 0.5em;
}

.form .submit {
  background-color: #3e8ebd;
  font-weight: 600;
  color: #fff;

}


.show-data {
  padding: 1.5em;
  width:100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  margin-top: 0.5em;
}

.div-center {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.task{
  display: flex;
  flex: 1;
  background-color: #f3f3f3;
  height: 10em;
  width: 24em;
  margin: 0.5em;
  border-radius: 0.4em;
  padding: 0.4em;
}

.task:hover{
  box-shadow: 0 .5rem 0.5rem rgba(0, 0, 4, alpha);
  transition: 0.4s;
}

img {
  height: 100%;
  display: block;
  padding: 0.5em;
}

.img-priority{
  width: 40px;
}

.articule-info {
 background-color: #9abccf;
 height: 100%;
 width: 100%;
 padding: 0.25em;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.articule-info .data {
 margin: 0.35em
}

.bold {
  font-weight: 600;
}

.radios{
  display: flex;
  flex-direction: row-reverse !important;
}