@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}

/*Variables used in the development of the site*/
:root{
    --navbar-ligth: #333333;
    --calorias-section-ligth: #ECECEC;
    --background-clr: #ECECEC;
    --food-section-ligth: #E1F4F3;
    --text-ligth: #FFFFFF;
    --text-sections: #000000;
    --active-ligth: #7AF4EE;
}


/*Header*/

header{
    background-color: var(--navbar-ligth);
    color: var(--text-ligth);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0.1vh;
    height: 5vh;    
    size: large;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

/*Dark mode Toggle*/

.dark-mode{
    --navbar-ligth: #000000;
    --calorias-section-ligth: #262626;
    --food-section-ligth: #404040;
    --background-clr: #262626;
    --text-ligth: #FFFFFF;
    --active-ligth: #7c7c7c;
    --text-sections: #FFFFFF;
}

.color-switch {
    width: 4em;
    height: 2em;
    border-radius: 10em;
    background: var(--clr-base);
    border: 2px solid var(--clr-primary);    
    cursor: pointer;
  }

/*Main*/
main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 95vh;
    margin-top: 5vh;
    background-color: var(--background-clr);
}
/*Food Section*/
.food-section{
    width: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    background-color: var(--food-section-ligth);
    color: var(--text-sections);
}
/*Calories section*/
.calories-section{
    width: 51%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--calorias-section-ligth);
    color: var(--text-sections);
    font-size: larger;
}

.div-food{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100vh;
}


.img-food-section{
    width: 20vh;
    height: auto;
    padding: 2vh;
}


.img-food-button:hover{
    background-color: var(--active-ligth);
    box-shadow: 10px 10px 5px #aaaaaa;
}

.img-food-selected{
    background-color: var(--active-ligth);
    box-shadow: 10px 10px 5px #aaaaaa;
}

.img-calories-section{
    width: 50vh;
    height: auto;
}

/*Footer*/
footer{
    background-color: var(--navbar-ligth);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}

footer a{
    text-decoration: none;
    text-transform: none;
    color: var(--text-ligth);
}

.in-flex{
    flex: 1;
    padding: 25vh;
}

.in-flex:first-child{
    flex: 2;
}